<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Veltasoft</title>
</head>
<body>
	<h1 align="center">Veltasoft Request Form</h1>
	<form action="save/" method="post">
		{% csrf_token %} <!-- This is very important, since it makes your forms secure! -->
		<div align="center">
			<p>Name</p>
			<input type="text" id="cust_name" name="customerName" />
			<p>Email</p>
			<input type="text" id="cust_email" name="email" />
			<p>Subject</p>
			<input type="text" id="subject" name="subject" />
			<p>Message</p>
			<textarea rows="4" cols="50" id="msgs" name="message"></textarea>
			<button type="submit">Save</button>
		</div>
	</form>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message }}</li> {% endfor %}
	</ul>
	{% endif %}
</body>
</html>